/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #833ab4; /* Color principal de Instagram */
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    float: right; /* Mover la barra de menú a la derecha */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #c13584; /* Color de Instagram al pasar el mouse */
}

main {
    padding: 20px;
}

footer {
    background-color: #833ab4; /* Color principal de Instagram */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Estilos específicos */
h1 {
    margin: 0;
}

h2 {
    color: #833ab4; /* Color principal de Instagram */
}

p {
    color: #666;
}
